/*Fonts
font-family: 'Quicksand', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Crushed', cursive;
font-family:

Pattern taken from - http://www.heropatterns.com/
*/

body{
  font-family: wingdings;
  font-size: 6.0vw;
  background-color: #F9F2E4;
}

h1 {
  font-family: 'Righteous', sans-serif;
  font-size: 1.3em;
  color: #7C8DD5;
  display: inline;
  margin: 10% 0 5% 0;
  text-align: start;
}

h5{
  display: inline;
  font-size: 0.5em;
  color: #7C8DD5;
  margin: 0;
}

h3{
  font-family: 'Quicksand', sans-serif;
  font-size: 0.3em;
  color: #7C8DD5;
  display: inline;
  text-align: end;
  margin: 0;
}

.page_wrapper {
  width: 95%;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
}



/******Cluster Header Styling boxes here ************/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  /*padding-top: 2.5%;*/
  padding-bottom: 5%;

}

.symbols{
  width: 20%;
  margin-bottom: -20px;
}

.htag_holder{
  display: flex;
  /*align-items: space-around; << seems to not be allowed ??? */
  flex-direction: column;
  width: 35%;
  /*text-align: justify; positioning styles were placed on h1 and h3 instead of here*/
}



/******Cluster Game Board Grad Styling boxes here ************/

.gameboard_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: -5px 0 0 -5px;
}

label{
  /*padding: 3%;*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  flex: 1 0 20%;
  height: 15%;
  border-radius: 5px;
  border: 2px solid;
}

.facedown{
  color: transparent;
  background-color: #f9f2e4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23082fc7' fill-opacity='0.52' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
  border: 2px solid #7C8DD5;
}

.faceup, .leave_faceup{
  background-color: #f9f2e4;
  color: #7C8DD5;
}







/*.gamecard-unique{
  color: #7C8DD5;
}*/

/*The face down styling will just be with the




/*p {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.3em;
  width: 100px;
  height: 100px;
  background-color: teal;
}

.transformed{
  transform: rotateY(60deg);
  background-color: blue;
}*/






/*@font-face {
  font-family: 'HFF Aqua Stencil';
  src: url(http://www.dafont.com/hff-aqua-stencil.font);

  Error message in console: Access to Font at 'http://www.dafont.com/hff-aqua-stencil.font' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access. Forget about fonts from dafonts....
}*/
