/*Fonts
font-family: 'Quicksand', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Crushed', cursive;*/



body{
  font-family: wingdings;
  font-size: 6.0vw;
}

#bgCanvas{
  position: fixed;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  color: #0e0a69;
  display: inline;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

label{
  padding: 100px;
  border-radius: 5px;
  border: 2px solid;
  margin: 5px;
  background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQ0lEQVQoU2MUb9v1n4EAuC28hIGRGIUgc6irkLpWg0xTfRtDnBuJshqkCKevYdbBFIEVfpoZBw5wkDtgCkB8ZEUgPgAaVCvTSZOQ8AAAAABJRU5ErkJggg==
   ) repeat;
}

{
stripes : [
    {
        color: '#810d80',
        rotation: 328,
        opacity: 64,
        mode: 'normal',
        width: 30,
        gap: 20,
        offset: 4
    },
    {
        color: '#3a83d6',
        rotation: 200,
        opacity: 68,
        mode: 'plaid',
        width: 23,
        gap: 28,
        offset: 53
    }
],
bg : '#ffffff'
}

input {
    -webkit-appearance: none;
    /*box-sizing: border-box;
    [type="checkbox" i]*/
}

.page_wrapper {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.header_container{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.gameboard_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

h5 {
  display: inline;
  font-size: 0.6em;
}


.wrapper {
  background-color: #cdcdd7;
  text-align: center;
}


p {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.3em;
  width: 100px;
  height: 100px;
  background-color: teal;
}

.transformed{
  transform: rotateY(60deg);
  background-color: blue;
}






/*@font-face {
  font-family: 'HFF Aqua Stencil';
  src: url(http://www.dafont.com/hff-aqua-stencil.font);

  Error message in console: Access to Font at 'http://www.dafont.com/hff-aqua-stencil.font' from origin 'null' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access. Forget about fonts from dafonts....
}*/
